:host {
  display: flex;
  min-height: 100vh;
  background-color: #1391da;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 4px;
}

p {
  text-align: center;
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 24px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
}

button {
  width: 100%;
  height: 48px;
  background-color: #114ccc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
}

.card {
  width: 380px;
  padding: 32px 28px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}
